@import "tailwindcss";
@font-face {
  font-family: "Norse";
  src: url("./assets/fonts/Norse.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src: url("./assets/fonts/NorseBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/AlegreyaVariable.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("./assets/fonts/AlegreyaItalic.woff2") format("woff2");
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}
@theme {
  --font-norse: "Norse", serif;
  --font-serif: "Alegreya", Georgia, serif;
  /* TEXT */
  --color-text: #f0c49a;
  --color-title: #e8b45a;
  --color-muted: #c79a73;
  --color-accent: #e0703a;
}
:root {
  font-family: var(--font-serif);
  color: var(--color-text);
  background-image:
    linear-gradient(rgba(10, 5, 2, 0.65), rgba(10, 5, 2, 0.65)),
    url("./assets/texture/planks.webp");
  background-attachment: fixed;
}
